* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgb(0, 68, 255), rgb(68, 0, 128));
}